.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    gap: 115px;
    padding-bottom: 180px;
    margin: 0 auto;
}

.container__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 94.79%;
    padding-top: 30px;
}


.header__logo {
    width: 11.66%;
    height: 71px;
    padding: 1px 5px 0px 10px;
}

.header__logo img {
    width: 100%;
}

.header__nav {
    width: 15.55%;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 51px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.list__item a {
    text-decoration: none;
    color: #ffffff;
    position: relative;
}

.list__item a:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.5s;
}

.list__item a:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: #FFFFFF;
    transition: width 0.5s;
}


.list__item-active {
    font-weight: 700;
}

.header__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 380px;
}

.info__location {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 230px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    gap: 5px;
    padding-top: 3px;
}

.info__location-img {
    width: 24px;
    height: 24px;
}

.info__location-img img {
    width: 100%;
}

.info__time {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 140px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    gap: 5px;
    padding: 3px 0px 0px 15px;
}

.info__time-img {
    width: 24px;
    height: 24px;
}

.info__time-img img {
    width: 100%;
}

.header__sets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 83.333%;
}

.sets__info {
    display: flex;
    flex-direction: column;
    width: 33.18%;
}

.sets__info-stock {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    padding-top: 70px;
}

.sets__info-set {
    padding-top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
}



.sets__info-structure {
    padding-top: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.sets__info-quantity {
    padding-top: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.sets__info-quantity span>span {
    padding-left: 3px;
    font-weight: 300;
}

.sets__info-cost {
    padding-top: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.sets__info-cost span span {
    padding-left: 3px;
    font-weight: 300;
}

.sets__info-btn {
    width: 100%;
    padding-top: 50px;
    max-width: 230px;
    height: 65px;
}

.sets__info-btn button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    padding: 23px 61px;
    background: #E5194A;
    border-radius: 10px;
    color: #FFFFFF;
    transition: 0.25s;
}

.sets__info-btn button:hover,
.sets__info-btn button:focus {
    box-shadow: inset 0 0 0 2em #fd7d9a;
}

.sets__image {
    width: 57.81%;
}

.sets__image img {
    width: 100%;
}

/* =================1600==================== */
@media (max-width:1600px) {
    .nav__list {
        gap: 30px;
        font-size: 18px;
        line-height: 22px;
    }

    .sets__info-set {
        font-size: 38px;
        line-height: 49px;
    }

    .sets__info-stock {
        padding-top: 40px;
        font-size: 17px;
        line-height: 21px;
    }

    .sets__info-structure {
        padding-top: 20px;
        font-size: 17px;
        line-height: 21px;
    }

    .sets__info-quantity {
        padding-top: 10px;
        font-size: 17px;
        line-height: 21px;
    }

    .sets__info-cost {
        padding-top: 10px;
        font-size: 17px;
        line-height: 21px;

    }
}

/* =================1360==================== */
@media (max-width:1360px) {
    .header {
        gap: 80px;
        padding-bottom: 100px;
    }

    .container__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 94.79%;
        padding-top: 30px;
    }

    .nav__list {
        gap: 15px;
        font-size: 16px;
        line-height: 20px;
    }

    .sets__info-set {
        font-size: 28px;
        line-height: 39px;
    }

    .sets__info-stock {
        padding-top: 30px;
        font-size: 15px;
        line-height: 19px;
    }

    .sets__info-structure {
        padding-top: 10px;
        font-size: 15px;
        line-height: 19px;
    }

    .sets__info-quantity {
        padding-top: 5px;
        font-size: 15px;
        line-height: 19px;
    }

    .sets__info-cost {
        padding-top: 5px;
        font-size: 15px;
        line-height: 19px;
    }

    .sets__info-btn {
        padding-top: 30px;
        height: 45px;
    }

    .info__location {
        max-width: 200px;
        font-size: 12px;
        line-height: 14px;
    }

    .info__time {
        max-width: 120px;
        font-size: 12px;
        line-height: 14px;
    }

    .header__info {
        max-width: 320px;
    }
}

@media (max-width:1280px) {
    .nav__list {
        gap: 10px;
        font-size: 14px;
        line-height: 18px;
    }

    .info__location {
        max-width: 180px;
        font-size: 10px;
        line-height: 12px;
    }

    .info__time {
        max-width: 120px;
        font-size: 10px;
        line-height: 12px;
    }

    .header__info {
        max-width: 300px;
    }

    .info__time-img {
        width: 16px;
        height: 16px;
    }

    .info__location-img {
        width: 16px;
        height: 16px;
    }

    .header__logo {
        padding: 15px 5px 0px 15px;
    }

    .container__header {
        padding-top: 10px;
    }

    .sets__info {
      align-self: flex-start;
    }

    .sets__info-btn button {
        padding: 20px 50px;
        font-size: 15px;
        line-height: 19px;
    }

    .sets__info-set {
        font-size: 25px;
        line-height: 34px;

    }

    .sets__info-stock {
        padding-top: 10px;
        font-size: 13px;
        line-height: 17px;
    }

    .sets__info-structure {
        padding-top: 10px;
        font-size: 13px;
        line-height: 17px;
    }

    .sets__info-quantity {
        padding-top: 5px;
        font-size: 13px;
        line-height: 17px;
    }

    .sets__info-cost {
        padding-top: 5px;
        font-size: 13px;
        line-height: 17px;
    }
}