.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    gap: 115px;
    padding-bottom: 180px;
    margin: 0 auto;
}

.container__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 94.79%;
    padding-top: 30px;
}


.header__logo {
    width: 11.66%;
    padding: 1px 5px 0px 10px;
}

.header__logo img {
    width: 100%;
    height: auto;
}

.header__nav {
    width: 15.55%;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 51px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.list__item a {
    text-decoration: none;
    color: #ffffff;
    position: relative;
}

.list__item a:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.5s;
}

.list__item a:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: #FFFFFF;
    transition: width 0.5s;
}


.list__item-active {
    font-weight: 700;
}

.header__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 23.75%;
}

.info__location {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 66%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    gap: 5px;
    padding-top: 3px;
}

.info__location-img {
    width: 24px;
    height: 24px;
}

.info__location-img img {
    width: 100%;
}

.info__time {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 35%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    gap: 5px;
    padding: 3px 0px 0px 15px;
}

.info__time-img {
    width: 24px;
    height: 24px;
}

.info__time-img img {
    width: 100%;
}

.header__sets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 83.333%;
}

.sets__info {
    display: flex;
    flex-direction: column;
    width: 33.18%;
}

.sets__info-stock {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    padding-top: 70px;
}

.sets__info-set {
    padding-top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
}



.sets__info-structure {
    padding-top: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.sets__info-quantity {
    padding-top: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.sets__info-quantity span>span {
    padding-left: 3px;
    font-weight: 300;
}

.sets__info-cost {
    padding-top: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.sets__info-cost span>span {
    padding-left: 3px;
    font-weight: 300;
}

.sets__info-btn {
    width: 100%;
    padding-top: 50px;
    max-width: 230px;
    height: 65px;
}

.sets__info-btn a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    padding: 23px 61px;
    background: #E5194A;
    border-radius: 10px;
    color: #FFFFFF;
    transition: 0.25s;
}

.sets__info-btn button:hover,
.sets__info-btn button:focus {
    box-shadow: inset 0 0 0 2em #fd7d9a;
}

.sets__image {
    width: 57.81%;
}

.sets__image img {
    width: 100%;
}

/* =================1600==================== */
@media (max-width:1600px) {
    .header {
        gap: 7.18vw;
        padding-bottom: 11.25vw;
    }

    .container__header {
        padding-top: 1.87vw;
    }

    .nav__list {
        gap: 3.18vw;
        font-size: 1.12vw;
        line-height: 1.37vw;
    }

    .info__location {
        font-size: 0.7vw;
        line-height: 1.06vw;
        gap: 0.31vw;
        padding-top: 3px;
    }

    .info__location-img {
        width: 1.5vw;
        height: 1.5vw;
    }

    .info__time {
        font-size: 0.7vw;
        line-height: 1.06vw;
        gap: 0.31vw;
        padding: 5px 0px 0px 0px;
    }

    .info__time-img {
        width: 1.5vw;
        height: 1.5vw;
    }

    .sets__info-stock {
        font-size: 1.25vw;
        line-height: 1.5vw;
        padding-top: 4vw;
    }

    .sets__info-set {
        padding-top: 0.625vw;
        font-size: 2.7vw;
        line-height: 3vw;
    }

    .sets__info-structure {
        padding-top: 2.5vw;
        font-weight: 400;
        font-size: 1.25vw;
        line-height: 1.5vw;
    }

    .sets__info-quantity {
        padding-top: 1.875vw;
        font-size: 1.25vw;
        line-height: 1.5vw;
    }

    .sets__info-cost {
        padding-top: 0.93vw;
        font-size: 1.25vw;
        line-height: 1.5vw;
    }

    .sets__info-btn {
        padding-top: 3.12vw;
    }

    .sets__info-btn a {
        font-size: 1.12vw;
        line-height: 1.37vw;
        padding: 1.43vw 3.81vw;
    }

}

@media (max-width:768px) {
    .header__logo {
        width: 17%;
        padding: 1px 5px 0px 10px;
    }

    .header {
        gap: 4vw;
        padding-bottom: 4vw;
    }

    .header__nav {
        padding-right: 220px;
    }

    .header__sets {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sets__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        order: 2;
    }

    .sets__info-btn {
        text-align: center;
    }

    .sets__image {
        width: 80%;
    }

    .sets__image img {
        height: auto;
    }

    .sets__info-btn a {
        border-radius: 5px;
    }
}

@media (max-width:480px) {
    .nav__list {
        gap: 1.3vw;
        font-size: 1.5vw;
        padding-right: 20px;
    }

    .header__nav {
        padding-right: 120px;
    }

    .info__location {
        font-size: 0.8vw;
        gap: 0.1vw;
        padding-top: 3px;
    }

    .info__location-img {
        width: 1.5vw;
        height: 1.5vw;
    }

    .info__time {
        font-size: 0.8vw;
        line-height: 1.06vw;
        gap: 0.31vw;
        padding: 5px 0px 0px 0px;
    }

    .info__time-img {
        width: 1.5vw;
        height: 1.5vw;
    }

    .sets__info-btn {
        padding-top: 1vw;
    }

    .sets__info-btn a {
        border-radius: 3px;
    }
}

@media (max-width:320px) {
    .header {
        gap: 2vw;
        padding-bottom: 2vw;
    }

    .sets__info-btn button {
        border-radius: 2px;
    }

    .header__nav {
        padding-right: 80px;
    }

    .info__location {
        padding-top: 0px;
    }

    .info__time {
        padding: 0px;
    }

    .header__logo {
        padding: 0px;
    }
}