.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.container__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 94.79%;
    padding-top: 30px;
}

.header__logo {
    width: 11.66%;
    padding: 1px 5px 0px 10px;
}

.header__logo img {
    width: 100%;
    height: auto;
}

.header__nav {
    width: 15.55%;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 51px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.list__item a {
    text-decoration: none;
    color: #000000;
    position: relative;
}

.list__item a:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.5s;
}

.list__item a:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: #000000;
    transition: width 0.5s;
}


.list__item-active {
    font-weight: 700;
}

.header__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 23.75%;
}

.info__location {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 66%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    gap: 5px;
    padding-top: 3px;
}

.info__location-img {
    width: 24px;
    height: 24px;
}

.info__location-img img {
    width: 100%;
}

.info__time {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 35%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    gap: 5px;
    padding: 3px 0px 0px 15px;
}

.info__time-img {
    width: 24px;
    height: 24px;
}

.info__time-img img {
    width: 100%;
}


/* =================1600==================== */
@media (max-width:1600px) {
    .container__header {
        padding-top: 1.87vw;
    }

    .nav__list {
        gap: 3.18vw;
        font-size: 1.12vw;
        line-height: 1.37vw;
    }

    .info__location {
        font-size: 0.7vw;
        line-height: 1.06vw;
        gap: 0.31vw;
        padding-top: 3px;
    }

    .info__location-img {
        width: 1.5vw;
        height: 1.5vw;
    }

    .info__time {
        font-size: 0.7vw;
        line-height: 1.06vw;
        gap: 0.31vw;
        padding: 5px 0px 0px 0px;
    }

    .info__time-img {
        width: 1.5vw;
        height: 1.5vw;
    }

}

@media (max-width:768px) {
    .header__logo {
        width: 17%;
        padding: 1px 5px 0px 10px;
    }

    .header__nav {
        padding-right: 180px;
    }

    .nav__list {
        gap: 3.18vw;
        font-size: 1.2vw;
        line-height: 1.37vw;
    }

}


@media (max-width:480px) {
    .nav__list {
        gap: 3.18vw;
        font-size: 1.6vw;
        line-height: 1.8vw;
    }

    .header__nav {
        padding-right: 130px;
    }

    .info__location {
        font-size: 0.8vw;
        gap: 0.1vw;
        padding-top: 3px;
    }

    .info__location-img {
        width: 1.5vw;
        height: 1.5vw;
    }

    .info__time {
        font-size: 0.8vw;
        line-height: 1.06vw;
        gap: 0.31vw;
        padding: 5px 0px 0px 0px;
    }

    .info__time-img {
        width: 1.5vw;
        height: 1.5vw;
    }

}

@media (max-width:320px) {
    .header__nav {
        padding-right: 100px;
    }

    .info__location {
        padding-top: 0px;
    }

    .info__time {
        padding: 0px;
    }

    .header__logo {
        padding: 0px;
    }
}