.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
    background: #000000;
    color: #FFFFFF;
}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 94.79%;
}

.footer__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer__box-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 21.11%;
    vertical-align: middle;
}


.box__logo {
    width: 51%;
    height: 71px;
    padding-top: 10px;
}

.box__logo img {
    width: 100%;
}

.footer__box-social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 7.77%;
    height: 33px;
    gap: 20px;
    padding-left: 20px;
}


.footer__box-social img {
    width: 32px;
}

.footer__box-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 23.75%;
    padding: 3px 0px 0px 16px;
}


.box__info-location {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 66%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    gap: 5px;
    padding: 3px 0px 0px 0px;
}

.box__info-time {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 35%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    gap: 5px;
    padding: 3px 0px 0px 15px;
}

@media (max-width:1800px) {
    .footer__box-info {
        width: 27%;
    }
}

@media (max-width:1600px) {
    .footer__box-logo {
        gap: 3.12vw;
    }

    .footer__container {
        height: 180px;
    }

    .box__logo {
        width: 51%;
        padding-top: 0.62vw;
    }

    .box__logo img {
        width: 100%;
    }

    .footer__box-social {
        gap: 1.25vw;
        padding-left: 1.25vw;
    }


    .footer__box-social a>img {
        width: 2vw;
    }

    .footer__box-info {
        width: 23%;
        padding: 0.18vw 0px 0px 1vw;
    }


    .box__info-location img {
        width: 1.5vw;
        height: 1.5vw;
    }

    .box__info-time img {
        width: 1.5vw;
        height: 1.5vw;
    }

    .box__info-location {
        font-size: 0.7vw;
        line-height: 1.06vw;
        gap: 0.31vw;
        padding: 0.31vw 0px 0px 0px;
    }

    .box__info-time {
        font-size: 0.7vw;
        line-height: 1.06vw;
        gap: 0.31vw;
        padding: 0.18vw 0px 0px 0.94vw;
    }
}

@media (max-width:1360px) {
    .footer__container {
        padding-top: 20px;
    }
}

@media (max-width:1024px) {
    .box__info-location {
        font-size: 0.8vw;
        line-height: 1.06vw;
    }

    .box__info-time {
        font-size: 0.8vw;
        line-height: 1.06vw;
    }

    .footer__box-info {
        width: 27%;
        padding: 0vw 0px 2vw 1vw;
    }

    .box__logo {
        padding-top: 10px;
    }
}

@media (max-width:768px) {
    .footer__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer__box-logo {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 0px;
    }

    .box__logo {
        width: 80%;
        padding-top: 0px;
    }

    .footer__box-social {
        gap: 15px;
        padding: 0;
    }

    .footer__box-social a>img {
        width: 24px;
        height: 24px;
    }

    .footer__box-info {
        width: 35%;
        padding-top: 3vw;
    }

    .box__info-location {
        font-size: 1.2vw;
        line-height: 1.4vw;
    }

    .box__info-time {
        font-size: 1.2vw;
        line-height: 1.4vw;
    }
}

@media (max-width:480px) {
    .box__logo img {
        width: 120px;
        vertical-align: middle;
    }

    .box__logo {
        width: 120px;
        vertical-align: middle;
    }
}