.section-map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    background-color: #FFFFFF;
    margin: 0 auto;
    color: #000000;
    padding: 62px 0px 88px 0px;
    min-height: 100vh;
}

.map__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 83.333%;
}

.map__title {
    width: 197px;
    height: 39px;
    align-self: flex-start;
    padding-top: 78px;
}

.map__title h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}


.map__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding-top: 85px;
}

.map__box-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24%;
    align-self: flex-start;
    padding-top: 40px;
}

.box__info-adress {
    display: block;
    width: 100%;
}

.imfo__adress-title {
    padding-top: 12px;
}

.imfo__adress-title h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.info__adress-text {
    display: block;
    padding-top: 25px;
    width: 100%;
}

.info__adress-text a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.box__info-phone {
    display: block;
    /* border: 1px solid #000000; */
}

.info__phone-title {
    padding-top: 25px;
}

.info__phone-title h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.info__phone-text {
    display: flex;
    flex-direction: column;
    padding-top: 23px;
}

.info__phone-text a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.box__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 136px;
    padding-top: 40px;
}

.box__social img {
    width: 32px;
}

.map__box-image {
    width: 62.5%;
}

.map__box-image img {
    width: 100%;
}

@media (max-width:1800px) {
    .section-map {
        padding: 3.44vw 0px 4.88vw 0px;
    }

    .map__title {
        padding-top: 4.33vw;
    }

    .map__title h2 {
        font-size: 1.77vw;
        line-height: 2.16vw;
    }

    .map__box {
        padding-top: 4.72vw;
    }

    .map__box-info {
        padding-top: 2.22vw;
    }

    .imfo__adress-title {
        padding-top: 0.66vw;
    }

    .imfo__adress-title h4 {
        font-size: 1.11vw;
        line-height: 1.33vw;
    }

    .info__adress-text {
        padding-top: 1.38vw;
    }

    .info__adress-text a {
        font-size: 1.11vw;
        line-height: 1.33vw;
    }

    .info__phone-title {
        padding-top: 1.38vw;
    }

    .info__phone-title h4 {
        font-size: 1.11vw;
        line-height: 1.33vw;
    }

    .info__phone-text {
        padding-top: 1.27vw;
    }

    .info__phone-text a {
        font-size: 1.11vw;
        line-height: 1.33vw;
    }

    .box__social {
        padding-top: 2.22vw;
    }

}

@media (max-width:1024px) {
    .box__social img {
        width: 2.8vw;
    }

    .box__social {
        width: 50%;
    }
}

@media (max-width:768px) {
    .map__title h2 {
        font-size: 3.2vw;
    }

    .map__box-image {
        width: 100%;
    }

    .map__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .map__box-info {
        order: 2;
        align-self: center;
    }

    .info__phone-title h4 {
        font-size: 1.8vw;
    }

    .imfo__adress-title h4 {
        font-size: 1.8vw;
    }

    .info__phone-text a {
        font-size: 1.3vw;
        line-height: 1.9vw;
    }

    .info__adress-text a {
        font-size: 1.3vw;
        line-height: 1.9vw;
    }

    .map__box-info {
        width: 32%;
        align-self: flex-start;
    }

    .info__adress-text {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
}

@media (max-width:480px) {
    .map__title h2 {
        font-size: 5vw;
    }

    .map__box-image {
        width: 100%;
    }

    .map__box {
        width: 100%;
    }

    .map__box-info {
        width: 70%;
        align-self: flex-start;
    }

    .box__item-text {
        width: 100%;
    }

    .info__adress-text a {
        font-size: 2.8vw;
        line-height: 3.2vw;
    }

    .info__phone-text a {
        font-size: 2.8vw;
        line-height: 3.2vw;
    }

    .info__phone-title h4 {
        font-size: 3.2vw;
        line-height: 3.5vw;
    }

    .imfo__adress-title h4 {
        font-size: 3.2vw;
        line-height: 3.5vw;
    }

    .box__social img {
        width: 6vw;
    }
}